**[Pandas Home Page](https://www.kaggle.com/learn/pandas)**

---

# Introduction

Run the following cell to load your data and some utility functions.

In [1]:
import pandas as pd

beers = pd.read_csv("data/beer/beers.csv")
breweries = pd.read_csv("data/beer/breweries.csv")


print("Setup complete.")

Setup complete.

# Exercises

View the first several lines of your data by running the cell below:

In [2]:
beers.head()

,beer_num,abv,ibu,id,name,style,brewery_num,ounces
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0

In [3]:
breweries.head()

   brewery_num                       name           city state
0            0         NorthGate Brewing     Minneapolis    MN
1            1  Against the Grain Brewery     Louisville    KY
2            2   Jack's Abby Craft Lagers     Framingham    MA
3            3  Mike Hess Brewing Company      San Diego    CA
4            4    Fort Point Beer Company  San Francisco    CA

## 1.
`name` in beers and `name` in breweries refer to different sets of information.<br> 
Create a copy of each dataframe with with these columns renamed to `beer_name` and `brewery_name`.

In [3]:
# Your code here
beers_renamed = beers.rename(columns={"name" : "beer_name"})
breweries_renamed = breweries.rename(columns={"name" : "brewery_name"})

# Check your answer
print(beers_renamed.columns)
print(breweries_renamed.columns)

Index(['beer_num', 'abv', 'ibu', 'id', 'beer_name', 'style', 'brewery_num',
       'ounces'],
      dtype='object')
Index(['brewery_num', 'brewery_name', 'city', 'state'], dtype='object')

## 2.
Brewery numbers 10 and 25 produce 100 different beers between them.<br>(Brewery 10 produces 62 beers and Brewery 25 produces 38)

<br>Create a list of the style of beers each brewery manufatctures and combine them into one list

In [4]:
brewery_10_beer_styles = beers_renamed[beers_renamed.brewery_num==10]['style']
brewery_25_beer_styles = beers_renamed[beers_renamed.brewery_num==25]['style']

combined = pd.concat([brewery_10_beer_styles,brewery_25_beer_styles])
combined

388               Saison / Farmhouse Ale
389                     Belgian Pale Ale
390     American Double / Imperial Stout
391                         American IPA
392                            Rauchbier
                      ...
2065                MÃ¤rzen / Oktoberfest
2066                  English Barleywine
2067                        Scottish Ale
2068                           Cream Ale
2069             American Pale Ale (APA)
Name: style, Length: 100, dtype: object

Create a `DataFrame` of products styles that both breweries make.

In [17]:
print(len(brewery_10_beer_styles))
print(len(brewery_25_beer_styles))

styles = combined['style']

# Check your answer
styles.value_counts()

62
38

Belgian IPA                            9
Belgian Dark Ale                       8
Saison / Farmhouse Ale                 7
American IPA                           7
Belgian Pale Ale                       5
Scotch Ale / Wee Heavy                 5
BiÃ¨re de Garde                         4
Quadrupel (Quad)                       3
American Porter                        3
Witbier                                3
Scottish Ale                           3
Tripel                                 2
American Amber / Red Ale               2
American Pale Ale (APA)                2
Russian Imperial Stout                 2
English Barleywine                     2
MÃ¤rzen / Oktoberfest                   2
Dortmunder / Export Lager              2
American Double / Imperial IPA         2
American Wild Ale                      2
Fruit / Vegetable Beer                 2
American Stout                         2
American Double / Imperial Stout       2
Rauchbier                              2
Belgian Strong Pale Ale                2
Rye Beer                               2
Flanders Oud Bruin                     1
American Brown Ale                     1
Doppelbock                             1
Irish Dry Stout                        1
German Pilsener                        1
Extra Special / Strong Bitter (ESB)    1
American Black Ale                     1
Dunkelweizen                           1
Altbier                                1
Belgian Strong Dark Ale                1
Dubbel                                 1
Oatmeal Stout                          1
Cream Ale                              1
Name: style, dtype: int64

## 2.
Both beers_renamed and breweries_renamed include references to a `brewery_num`, a unique key for each brewery.<br> 
Use this to generate a dataset combining the two tables into one.

In [6]:
beers_and_breweries = beers_renamed.set_index("brewery_num").join(breweries_renamed.set_index("brewery_num"))

# Check your answer
beers_and_breweries

,beer_num,abv,ibu,id,beer_name,style,ounces,brewery_name,city,state
brewery_num,,,,,,,,,,
0,1493,0.045,50.0,2692,Get Together,American IPA,16.0,NorthGate Brewing,Minneapolis,MN
0,1494,0.049,26.0,2691,Maggie's Leap,Milk / Sweet Stout,16.0,NorthGate Brewing,Minneapolis,MN
0,1495,0.048,19.0,2690,Wall's End,English Brown Ale,16.0,NorthGate Brewing,Minneapolis,MN
0,1496,0.060,38.0,2689,Pumpion,Pumpkin Ale,16.0,NorthGate Brewing,Minneapolis,MN
0,1497,0.060,25.0,2688,Stronghold,American Porter,16.0,NorthGate Brewing,Minneapolis,MN
...,...,...,...,...,...,...,...,...,...,...
556,488,0.049,NaN,52,Heinnieweisse Weissebier,Hefeweizen,12.0,Butternuts Beer and Ale,Garrattsville,NY
556,489,0.068,NaN,51,Snapperhead IPA,American IPA,12.0,Butternuts Beer and Ale,Garrattsville,NY
556,490,0.049,NaN,50,Moo Thunder Stout,Milk / Sweet Stout,12.0,Butternuts Beer and Ale,Garrattsville,NY
556,491,0.043,NaN,49,Porkslap Pale Ale,American Pale Ale (APA),12.0,Butternuts Beer and Ale,Garrattsville,NY
557,1897,0.049,NaN,30,Urban Wilderness Pale Ale,English Pale Ale,12.0,Sleeping Lady Brewing Company,Anchorage,AK

Perform the same join using the origional dataframesbeer and breweries