Reference **[Pandas Home Page](https://www.kaggle.com/learn/pandas)**

---

# Introduction

In these exercises we'll apply groupwise analysis to our dataset.

Run the code cell below to load the data before running the exercises.

In [1]:
import pandas as pd
import numpy as np

fifa = pd.read_csv('data/FIFA19.csv')

In [5]:
fifa.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

# Exercises

## 1.
What club has the most strikers? Create a `Series` whose index is the `Club` from the dataset, and whose values count how many Strikers ("ST") there are.

In [8]:
fifa.Position.unique()

fifa.groupby(['Club', 'ST']).count()

                           Unnamed: 0  ID  Name  Age  Photo  Nationality  \
Club                 ST
 SSV Jahn Regensburg 39+2           2   2     2    2      2            2
                     41+2           1   1     1    1      1            1
                     43+2           1   1     1    1      1            1
                     48+2           1   1     1    1      1            1
                     49+2           1   1     1    1      1            1
...                               ...  ..   ...  ...    ...          ...
Śląsk Wrocław        60+2           3   3     3    3      3            3
                     62+2           1   1     1    1      1            1
                     65+2           2   2     2    2      2            2
                     67+2           1   1     1    1      1            1
                     68+2           1   1     1    1      1            1

                           Flag  Overall  Potential  Club Logo  ...  \
Club                 ST                                         ...
 SSV Jahn Regensburg 39+2     2        2          2          2  ...
                     41+2     1        1          1          1  ...
                     43+2     1        1          1          1  ...
                     48+2     1        1          1          1  ...
                     49+2     1        1          1          1  ...
...                         ...      ...        ...        ...  ...
Śląsk Wrocław        60+2     3        3          3          3  ...
                     62+2     1        1          1          1  ...
                     65+2     2        2          2          2  ...
                     67+2     1        1          1          1  ...
                     68+2     1        1          1          1  ...

                           Composure  Marking  StandingTackle  SlidingTackle  \
Club                 ST
 SSV Jahn Regensburg 39+2          2        2               2              2
                     41+2          1        1               1              1
                     43+2          1        1               1              1
                     48+2          1        1               1              1
                     49+2          1        1               1              1
...                              ...      ...             ...            ...
Śląsk Wrocław        60+2          3        3               3              3
                     62+2          1        1               1              1
                     65+2          2        2               2              2
                     67+2          1        1               1              1
                     68+2          1        1               1              1

                           GKDiving  GKHandling  GKKicking  GKPositioning  \
Club                 ST
 SSV Jahn Regensburg 39+2         2           2          2              2
                     41+2         1           1          1              1
                     43+2         1           1          1              1
                     48+2         1           1          1              1
                     49+2         1           1          1              1
...                             ...         ...        ...            ...
Śląsk Wrocław        60+2         3           3          3              3
                     62+2         1           1          1              1
                     65+2         2           2          2              2
                     67+2         1           1          1              1
                     68+2         1           1          1              1

                           GKReflexes  Release Clause
Club                 ST
 SSV Jahn Regensburg 39+2           2               2
                     41+2           1               1
                     43+2           1               1
                     48+2           1               1
                     49+2           1               0
...                               ...             ...
Śląsk Wrocław        60+2           3               3
                     62+2           1               1
                     65+2           2               2
                     67+2           1               1
                     68+2           1               1

[11145 rows x 87 columns]

## 2.
Create a `Series` whose index is Nationality and whose values is the count,min,max and average Overall score the players from that country got.

In [11]:
national_ratings = fifa.groupby('Nationality').Overall.agg(['count', 'min', 'max'])

# Check your answer
national_ratings

             count  min  max
Nationality
Afghanistan      4   59   63
Albania         40   52   81
Algeria         60   58   85
Andorra          1   62   62
Angola          15   60   78
...            ...  ...  ...
Uzbekistan       2   60   75
Venezuela       67   53   81
Wales          129   47   88
Zambia           9   56   73
Zimbabwe        13   64   78

[164 rows x 3 columns]

Are there significant differences in the average scores? <br>
List the top 5 and bottom 5.<br>
Do you notice anything?
Howmany players does each country have?

In [18]:
print(national_ratings.head())

print(national_ratings.tail())

             count  min  max
Nationality
Afghanistan      4   59   63
Albania         40   52   81
Algeria         60   58   85
Andorra          1   62   62
Angola          15   60   78
             count  min  max
Nationality
Uzbekistan       2   60   75
Venezuela       67   53   81
Wales          129   47   88
Zambia           9   56   73
Zimbabwe        13   64   78

## 3.
Do countries specialise in producing professional players for specific positions? Create a `Series` whose index is a `MultiIndex`of `{Nationality, Position}` pairs.Sort the values in the `Series` in descending order based on player count.

In [30]:
country_position_counts = fifa.groupby(['Nationality', 'Position']).Nationality.agg('count').sort_values(ascending=False)

# Check your answer
country_position_counts

Nationality  Position
England      ST          226
             CM          196
             GK          174
Germany      GK          164
England      CB          161
                        ...
Cyprus       RB            1
Russia       LCB           1
             LCM           1
             LDM           1
Afghanistan  CAM           1
Name: Nationality, Length: 1795, dtype: int64